p{
    text-align: justify;
}
body{
    background-image: url(../img/paper_fibers.png);
}
header{
    background-image: url('../img/foto-1.JPG');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
    padding-left: 10px;
    padding-right: 10px;
}

header > .banner{
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 165, 0, 0.7215686274509804); /*orange con un poco de transparencia*/
    border: 1px solid rgba(255, 140, 0, 0.3686274509803922); /*darkorange con mucha transparencia*/
    border-radius: 50px;
    color: #734a00;
}

header> .banner> h1,
header> .banner> h2{
    font-weight: bold;
}

@media screen and (max-width: 700px){
    header>.banner>h1{
        font-size: 28px;
    }
    header>.banner> h2{
        font-size: 22px;
    }
    header>.desc>h3{
        font-size: 18px;
    }
}

header> .desc > h3{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    color: black;
    text-shadow: 1px 1px #966100;
}

.contenido{
    padding-top: 65px;
}

.sinopsis{
    height: 175px;
    overflow-y: hidden;
}
.sinopsis p{
    margin-right: 10px;
    margin-left: 10px;
}
.thumbnail > img, .thumbnail a > img{
    height: 350px;
}

.cuadrito{
    /*background-color: #ffffff68;*/
    background-color: #e6e6e6cc;
}

.btn-descarga{
    margin-top: 15px;
    font-weight: bold;
}

/* PAGINA AUTORES*/
.img-autor{
    max-width: 400px;
}

.bio-autor{
    max-height: 370px;
    overflow-y: scroll;
}
.bio-autor img{
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}
.bio-autor p{
    margin-left: 10px;
    margin-right: 10px;
}
.autor {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/* ---------------------------------- Libro -------------------------------------------- */

.seccion-libro {
    background-image: url('../img/libro2.jpg');
    background-size: cover;
    background-position: center center;
    height: 500px;
}

/* ---------------------------------- NAVBAR -------------------------------------------*/
.navbar-inverse{
    background-color:  #2222225c;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus.active,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand{
    color: white;
    font-weight: bold;
}

.navbar-inverse .navbar-brand{
    font: normal 18px 'Cookie', cursive;
    line-height: 18px;
}

.navbar-inverse .navbar-brand span{
    color: orange;
    font-weight: bold;
    text-shadow: 1px 1px #793c00;
}
/* ----------------------------------FOOTER -------------------------------------------*/
.footer-distributed .footer-icons a:hover{
    color:  orange;
}


.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  orange;
    font-weight: bold;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  orange;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;

    padding-top: 7px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

/*------------------------------------------- SERVICES --------------------------------------------*/

.service-box{
    margin: auto;
}
.text-muted{
    text-align: center;
}
#services{
     padding-top: 40px;
     padding-bottom: 70px;
 }
#services, #services i{
    color: orange;
}

/*------------------------------------------- SELECT2 CLASSES --------------------------------------------*/

.select-ciudad {
    color: black;
}
.select-calle {
    text-indent: 50px;
}